Development/bibliopediaut/Bibliopedia/trunk/OpenCalais/Service References/Calais/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://clearforest.com/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://clearforest.com/" targetNamespace="http://clearforest.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://clearforest.com/">
      <xsd:element name="Enlighten">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="licenseID" type="xsd:string" />
            <xsd:element name="content" type="xsd:string" />
            <xsd:element name="paramsXML" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EnlightenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EnlightenResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EnlightenResponse">
    <wsdl:part name="parameters" element="impl:EnlightenResponse" />
  </wsdl:message>
  <wsdl:message name="EnlightenRequest">
    <wsdl:part name="parameters" element="impl:Enlighten" />
  </wsdl:message>
  <wsdl:portType name="calaisSoap">
    <wsdl:operation name="Enlighten">
      <wsdl:input name="EnlightenRequest" message="impl:EnlightenRequest" />
      <wsdl:output name="EnlightenResponse" message="impl:EnlightenResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="calaisSoapSoapBinding" type="impl:calaisSoap">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enlighten">
      <wsdlsoap:operation soapAction="http://clearforest.com/Enlighten" />
      <wsdl:input name="EnlightenRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EnlightenResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="calais">
    <wsdl:port name="calaisSoap" binding="impl:calaisSoapSoapBinding">
      <wsdlsoap:address location="http://api.opencalais.com/enlighten/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>